.features {
  margin: 0;
  padding: 0;
  font-family: $font-family__main;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $font-color__main;
  list-style: none;
}

.features__item {
  margin-top: 84px;
}
