.footer-main {
  padding-top: 25px;
  padding-bottom: 23px;
  font-family: $font-family__main;
  background-color: rgb(241, 241, 241);
}

.footer-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main__logo-link {
  display: none;
}

.footer-main__site-creator {
  width: 260px;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $font-color__main;
  border-top: 1px solid rgb(229, 229, 229);
}

.footer-main__site-creator-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 39px 0 37px;
  color: $font-color__main;

  &:hover svg {
    fill: $font-color__highlight-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-main__site-creator-logo {
  margin-top: 3px;
  fill: $font-color__highlight;
}

@media (min-width: $width__tablet) {
  .footer-main {
    padding: 51px 0 51px 0;
  }

  .footer-main .container {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer-main__logo-link {
    display: block;

    &:hover svg {
      fill: $font-color__highlight-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .footer-main__site-creator {
    padding-top: 4px;
    width: 182px;
    border-top: none;
  }

  .footer-main__site-creator-link {
    padding: 0;
  }
}

@media (min-width: $width__desktop) {
  .footer-main__logo {
    margin-left: 1px;
  }

  .footer-main__site-creator {
    margin-right: 1px;
  }
}
