.promotion {
  position: relative;
  padding-bottom: 42px;

  &::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -7px;
    width: calc(100% + 7px);
    height: 23px;
    background-image: url("../img/decoration-wave-pagesplitter.svg");
    background-repeat: repeat no-repeat;
    background-size: 320px 23px;
  }
}

.promotion .container {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
}

.promotion__description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.promotion__title {
  position: relative;
  align-self: center;
  margin: 0;
  width: 260px;
  font-family: $font-family__main;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $font-color__main;

  &--week-special::before {
    content: "товар недели";
    position: absolute;
    top: 35px;
    left: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $font-color__highlight;
  }
}

.promotion__description {
  margin-top: 48px;
  margin-bottom: 17px;
  width: 260px;
  font-family: $font-family__main;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $font-color__text;
}

.promotion__pic {
  margin-top: 28px;
  width: 260px;
  height: 315px;
}

.promotion__order-wrapper {
  align-self: stretch;
}

.promotion__price {
  margin: 0;
  margin-top: 20px;
  font-family: $font-family__main;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $font-color__text;
}

.promotion__button {
  margin-top: 26px;
  width: 100%;
}

@media (min-width: $width__tablet) {
  .promotion {
    padding-bottom: 60px;

    &::before {
      left: -20px;
      width: calc(100% + 20px);
      background-size: 768px 23px;
    }
  }

  .promotion .container {
    justify-content: space-around;
    padding-top: 46px;
  }

  .promotion__title {
    margin-right: auto;
    width: auto;
    align-self: flex-start;
    font-size: 43px;
    line-height: 50px;

    &--week-special::before {
      top: 11px;
      right: -228px;
      left: auto;
      width: 100px;
      line-height: 17px;
      text-align: center;
    }
  }

  .promotion__description-wrapper {
    max-height: 800px;
    align-content: space-around;
  }

  .promotion__description {
    margin-bottom: 36px;
    padding-right: 0;
    width: 291px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 30px;
  }

  .promotion picture {
    order: 1;
    margin-left: 44px;
  }

  .promotion__pic {
    width: 333px;
    height: 404px;
    margin-top: 57px;
  }

  .promotion__price {
    margin-top: 56px;
    font-size: 20px;
  }

  .promotion__button {
    margin-top: 34px;
    width: 100%;
  }
}

@media (min-width: $width__desktop) {
  .promotion {
    padding-bottom: 83px;

    &::before {
      left: calc(100vw / 2 + 50px - 1150px / 2);
      width: 1050px;
      background-size: 1050px 25px;
      background-position: 26px 0;
    }
  }

  .promotion .container {
    padding-top: 124px;
  }

  .promotion__title {
    width: auto;
    padding-left: 171px;
    align-self: flex-start;
    font-size: 53px;
    line-height: 57px;

    &--week-special::before {
      left: 32px;
      top: 15px;
    }
  }

  .promotion__description-wrapper {
    align-content: space-between;
    margin-left: 175px;
  }

  .promotion__description {
    width: 292px;
    margin-bottom: 50px;
  }

  .promotion picture {
    margin-left: 0;
  }

  .promotion__pic {
    width: 525px;
    height: 636px;
    margin-top: -109px;
  }

  .promotion__price {
    margin-top: 108px;
  }
}
