.button {
  padding: 14px 0;
  font-family: $font-family__main;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $font-color__text;
  text-transform: uppercase;
  border: 2px solid $font-color__text;
  background-color: $background-color__main;
}
