body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  min-width: $width__mobile;
  padding: 0 100% * 30 / 320;
  box-sizing: border-box;
}

@media (min-width: $width__tablet) {
  .container {
    padding: 0 100% * 50 / 768;
  }
}

@media (min-width: $width__desktop) {
  .container {
    padding: 0 calc(100vw / 2 + 50px - 1150px / 2);
  }
}
